
*{margin:0;
    padding: 0;
}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clr{
    clear: both;
}

ul,ol {
    list-style: none;
}


.container{
    
       max-width: 1300px;
       margin: 0 auto;
}
.header-top{
    background-color: #0f2f44;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
    
    
}
.header-top .left{
    
    width:50%;
    float: left;
}
.header-top .right{
   
    width:50%;
    float: right;
}
.header-top p{
    color:white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.header-top .right p{
    text-align: right;
    
}


.menubar{

    padding: 22px 0;
    margin-top: 20px;
    height: 37px;
    max-width: 1300px;
    padding-left: 283px;

}

.menubar .logo{
    width: 16%;
    float:left;
    padding-left: 26px;
   
}
 .menubar .menu{
      width: 61%;
     float:left;
     
     
}
 .search:hover .menubar .menu{
    background: red;
}



.menubar .menu ul li a.active,
.menubar .menu ul li:hover a{
    color: #ffc712;
}

.menubar .menu ul li:hover{
    background: #fff9e6;
}
.menubar .search {
    text-align: right;
}
.menubar .search{
    width: 10%;
    float: left;
    margin-left: 130px;
}
.menubar .menu {
    text-align: center;
    line-height: 35px;
}

.search :hover{
    cursor: pointer;
    background: none;
}

.menubar .menu ul li{
 display: block;
    margin-right: 15px;
    padding: 0px 24px;
   
    float: left;;
 
}

.menubar .menu ul li a{
    font-size: 25px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.menubar .search i{
    color: #999999;
    border: 1px solid #dddddd;
    border-radius: 47%;
    width: 46px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    font-size: 21px;
    margin-left: 10px;
    
}

.banner{
  background: url(image/banner.png) no-repeat center;
    background-size: cover;
    line-height: 45px;
padding: 100px 0;
    margin: 20px 0;
}
.banner h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color:#0f2f44;
    font-weight: 300;
    text-transform: uppercase; 
}

.banner h2{
    font-family: sans-serif;
    font-size: 60px;
    color:#0f2f44;
    text-transform: uppercase;
}

.banner .ambition{
    color: #aab0d8;
    font-family: 'Open Sans', sans-serif;  
    font-size: 30px; 
letter-spacing: 14px;
    
}
.banner .banner-text{
    width: 436px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px; 
}


.banner a{
    background: #8484bf;
    color: #ffffff;
    padding: 15px 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    font-weight: 400;
    margin: 20px 0;
    border: 1px solid #8484bf;
    transition: .4s;
}
.banner a:hover{
    background: #ffffff;
    color:#8484bf ;

}
.banner i{
    border-radius: 50;
    border: 1px solid #dddddd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align:  center;
    line-height: 50px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #ffffff;
    transition: .4s;
}
.banner i:hover{
    background:#8484bf;
    color: #ffffff;
}

.about .intro{
   
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #0f2f44;
    
}
img{
    

    float: right;
}

.about .intro{
    font-size: 20px;
}


.about .about-us {
    
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: 300;
    color: #0f2f44;
    margin-bottom: 32px;
    margin-top: 2px;
      
}
.about .details{
    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #0f2f44;
    width:  600px;
    
}
.about ul li{
    color: #0f2f44;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
    display: list-item;
    text-align:match-parent;
    margin-left: 30px;
    
    
}
.about .button{
    font-family: 'Open Sans', sans-serif;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 20px;
    color: #0f2f44;
    text-transform: capitalize;
    background: #ffffff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 28px;
    margin-right: 20px;
    box-shadow:4px 8px 30px 0px rgba(0,0,0,0.1); 
   
}
.about .button:hover{
    background-color: goldenrod;
}
.abc{
  margin-top: 100px;
    margin-right: -360px;
}

.skill{
    background-color: #f1e7e7;
    margin-top: 900px;
    height: 700px;
    
}
.skill .text{
    padding-top: 75px;
    margin-left: 429px;
    margin-bottom: 32px;
}
.skill p{
    font-size: 20px;
    margin-left: 75px;

}
.skill h3{
    font-size: 50px;
}

.skill .one{
    width: 400px;
    height: 200px;
    background:#d4c5c5;
    position: relative;

}
.skill .one .un{
    display: none;
}
.skill .two{
    width: 400px;
    height: 200px;
    background: #d4c5c5;
    position: absolute;
    left:425px;
    bottom: 0px;

}

.skill .three{
    width: 400px;
    height: 200px;
    background: #d4c5c5;
    position: absolute;
    left:850px;
    bottom: 0px;
}

.skill h2{
    font-size: 21px;
    padding-left: 37%;
    margin-top: 30px;
    position: absolute;
}

.skill img{
    position: absolute;
    left: 19px;
    bottom: 75px;

   
}
.dp{
    position: absolute;
    height: 100%;
    background:#afa7a7;
    width: 28%;
    transition: .4s;
    

}
.akm{
    position: absolute;
    height: 100%;
    background:#afa7a7;
    width: 28%;
    transition: .4s;
}
.m4{
    position: absolute;
    height: 100%;
    background:#afa7a7;
    width: 28%;
    transition: .4s;
}

.skill .p{
    position: absolute;
    font-size: 18px;
    padding-left: 18%;
    margin-top: 73px;

}

.skill .one:hover .dp{
        width: 100%;
        position: relative;

}
.skill .one :hover .un{
    display: block;
}
.skill .two:hover .akm{
        width: 100%;
        position: absolute;

}
.skill .three:hover .m4{
        width: 100%;
        position: absolute;

}

.skill .one:hover .dp img{
    margin-left: 37%;
}
.skill .two:hover .akm img{
    margin-left: 37%;
}
.skill .three:hover .m4 img{
    margin-left: 37%;
}



.ser{
    margin-bottom: 10px;
}



.what{
    background-color: #ffffff;
    height: 750px;
    
}
.what .text{
    padding-top: 75px;
    margin-left: 429px;
    margin-bottom: 32px;
}

.what p{
    font-size: 20px;
    margin-left: 60px;

}
.what h2{
    font-size: 50px;
}

.what .ones{
    height: 450px;
    width: 390px;
    background: url(image/prot-img1.png) no-repeat;
    float: left;
    position: relative;
}
.what .girl{
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    bottom: 30px;
    opacity: 0;
    
 
   
}
.what .ones .ill{
    color: black;
    margin-left: 101px;
    margin-top: 10px;
    opacity: 0;
    font-size: 20px;
    font-weight: 300;
  
    
  

}

.what .ones:hover .girl{
    opacity: 1;
}
.what .ones:hover .ill{
    opacity: 1;
}


.what .twos{
    height: 450px;
    width: 390px;
    background: url(image/prot-img2.png) no-repeat;
    float: left;
    margin-left: 40px;
    

}
.what .threes{
    height: 450px;
    width: 390px;
    background: url(image/prot-img3.png) no-repeat;
    float: left;
    margin-left: 40px;
    

}
    .what .ones:hover{

    }


.what .browse{
    background: #ffffff;
    font-size: 25px;
    color: #0f2f44;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 12px 22px;
    border-radius: 5px;
    box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.1);
    margin-left: 40%;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -webkit-box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.1);
    }

.what .bro{
    margin-top: 500px;

}

.what .browse:hover{
    text-decoration: none;
    background: #fcc512;
    -webkit-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0);
-moz-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0);
box-shadow: 4px 8px 5px 0px rgba(0,0,0,0);
}



.testimonial{
    height: 550px;
    width: 100%;
    background: #f3ebeb;
    position: relative;
}

.testimonial .text{
    padding-top: 75px;
    margin-left: 500px;
    margin-bottom: 32px;
}

.testimonial p{
    font-size: 20px;
    margin-left: 95px;
}

.testimonial h2{
    font-size: 50px;
}

.testimonial .testi1{
    height: 250px;
    width: 600px;
    background: #dad1d1;
    float: left;
    border-radius: 15px 0px 0px 15px;
}

.testimonial .testi2{
    height: 250px;
    width: 600px;
    background: #dad1d1;
    float: left;
    margin-left: 30px;
    border-radius: 15px 0px 0px 15px;
}

.testimonial .teim1{
    float:left;
    height: 100%;
    width: 240px;
} 

.testimonial .teim2{
    float:left;
    height: 100%;
    width: 240px;
} 

.testimonial .pa1{
    margin-left: 253px;
    margin-top: 30px;
    margin-bottom: -25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #0f2f44;
}
.testimonial .san1{
    margin-left: 265px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #0f2f44;
    padding-top: 34px;
}
.testimonial .na1{
    margin-left: 265px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0f2f44;
    
    
}

.testimonial .pa2{
    margin-left: 253px;
    margin-top: 30px;
    margin-bottom: -25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #0f2f44;
}
.testimonial .san2{
    margin-left: 265px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #0f2f44;
    padding-top: 34px;
}
.testimonial .na2{
    margin-left: 265px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0f2f44;
    
    
}

.testimonial .cir{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    margin-top: 110px;
    margin-left: -27px;
    text-align: center;
    transition: .4s;
}

.testimonial .cir:hover{
    background: yellow;
    cursor: pointer;
}

.testimonial .cir2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    margin-top: 110px;
    right: 346px;
    text-align: center;
    transition: .4s;
}

.testimonial .cir2:hover{
    background: yellow;
    cursor: pointer;
}

.blog{
    width: 100%;
    height: 900px;
    background: #ffffff;
}

.blog .text{
    padding-top: 75px;
    margin-left: 500px;
    margin-bottom: 32px;
}

.blog p{
    font-size: 20px;
    margin-left: 20px;
}

.blog h2{
    font-size: 50px;
}
.blog .blog1{
    width: 370px;
    height: 500px;
    background: #efe9e9;
    float: left;
    margin-right: 60px;
    transition: .4s;
    border-radius: 10px;
}
.blog .blog1:hover{
    background: #1f3329;
    -webkit-box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
    box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
}
.blog .blog1:hover .d1{
    color: #ffffff;
}
.blog .blog1:hover .de1{
    color: #ffffff;
}
.blog .blog2{
    width: 370px;
    height: 500px;
    background: #efe9e9;
    float: left;
    position: relative;
    margin-right: 60px;
    transition: .4s;
    border-radius: 10px;
}
.blog .blog2:hover{
    background: #1f3329;
    -webkit-box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
    box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
}
.blog .blog2:hover .d2{
    color: #ffffff;
}
.blog .blog2:hover .de2{
    color: #ffffff;
}

.blog .blog3{
    width: 370px;
    height: 500px;
    background: #efe9e9;
    float: left;
    transition: .4s;
    border-radius: 10px;
}
.blog .blog3:hover{
    background: #1f3329;
    -webkit-box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
    box-shadow: 10px 2px 50px 19px rgba(0,0,0,0.75);
}
.blog .blog3:hover .d3{
    color: #ffffff;
}
.blog .blog3:hover .de3{
    color: #ffffff;
}

.blog .bimg1{
    margin-top: 22px;
    margin-right: 30px;
}

.blog .bimg2{
    margin-top: 22px;
    margin-right: 30px;
}

.blog .bimg3{
    margin-top: 22px;
    margin-right: 30px;
}

.blog .d1{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #777777;
    margin-top: 350px;
}

.blog .de1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    padding-top: 7px;
    padding-bottom: 14px;
}

.blog .d2{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #777777;
    margin-top: 350px;
}

.blog .de2{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    padding-top: 7px;
    padding-bottom: 14px;
}
.blog .d3{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #777777;
    margin-top: 350px;
}

.blog .de3{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #222222;
    padding-top: 7px;
    padding-bottom: 14px;
}

.blog a{
    margin-left: 23px;
    text-decoration: none;
    font-size: 17px;
    color: #777777;
}
.blog .blog2 .mid{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e7ff86;
    position: absolute;
    margin-top: 222px;
    left: -24px;
}
.blog .blog2 .mid:hover{
    background: #ffffff;
    cursor: pointer;
}
.blog .blog2 .mid1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e7ff86;
    position: absolute;
    margin-top: 222px;
   right: -23px;
}
.blog .blog2 .mid1:hover{
    background: #ffffff;
    cursor: pointer;
}

.blog .browse{
    background: #ffffff;
    font-size: 25px;
    color: #0f2f44;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 12px 22px;
    border-radius: 5px;
    box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.1);
    margin-left: 40%;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -webkit-box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 4px 8px 30px 0px rgba(0,0,0,0.1);
    }

.blog .bro1{
    margin-top: 585px;

}

.blog .browse:hover{
    text-decoration: none;
    background: #fcc512;
    -webkit-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0);
-moz-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0);
box-shadow: 4px 8px 5px 0px rgba(0,0,0,0);
}




.footer{
    width: 100%;
    height: 500px;
    background: #efeeee;
    -webkit-box-shadow: 10px 6px 51px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 51px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 51px 4px rgba(0,0,0,0.75);
    position: relative;
}

.footer .circ{
    width: 70px;
    height: 70px;
    background: #ffc712;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    margin-left: 602px;
    margin-top: -38px;

}

.footer .fola1{
    width: 350px;
    height: 450px;
    background: #efeeee;
    float: left;
}
.footer .fola2{
    width: 300px;
    height: 450px;
    background: #efeeee;
    float: left;
}

.footer .fola3{
    width: 200px;
    height: 450px;
    background: #efeeee;
    float: left;
}

.footer .fola4{
    width: 400px;
    height: 450px;
    background: #efeeee;
    float: left;
}

.footer .ii{
    float: left;
    margin-left: 40px;
    margin-top: 85px;
}

.footer .fpara{
    float: left;
    margin-left: 37px;
    margin-top: 30px;
    font-size: 17px;
    font-family: serif;
}
.footer .flogo{
    margin-left: 32px;
    margin-top: 295px;
}

.footer .flogo li{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #0f2f44;
    border-radius: 50%;
    text-align: center;
    margin-right: 18px;
    float: left;
}

.footer .contact1{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 85px;
    margin-bottom: 31px;
}

.footer .fola2 i{
    margin-left: 29px;
    margin-right: 25px;
}
.footer .fola2 ul li{
    margin-bottom: 33px;
}


.footer .fola3 .imp{
    font-size: 25px;
    margin-left: 11px;
    margin-top: 85px;
    margin-bottom: 31px;
}

.footer .fola3 ul li{
    margin-left: 14px;
    margin-bottom: 18px;
}


.footer .flickr .fluid{
    max-width: 100%;
    height: auto;
    margin-right: 11px;
    margin-bottom: 11px;

}

.footer .stream{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 85px;
    margin-bottom: 31px;
}

.footer .face i{
    color: black;
}

.footer .face:hover{
    background: #2e3438;

}
.footer .face:hover .fa{
    color: #ffffff;
}



.foot{
    width: 100%;
    height: 50px;
    background: #ffffff;
}

.foot .lol{
    font-size: 20px;
    margin-left: 469px;
    margin-top: 10px;
}

